:root {
    --base: hsl(179, 50%, 0%);
    --noir: hsl(179, 50%, 2%);
    --gray: hsl(179, 50%, 5%);
}

.bg {
    width: 100%;
    position: relative;
}
.one {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    background: var(--base);
    background: linear-gradient(45deg, var(--base) 30%, var(--gray) 50%, var(--base) 70%);
}
.two {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background: var(--base);
    background: linear-gradient(135deg, var(--base) 30%, var(--noir) 50%, var(--base) 70%); 
    animation: gradient 5s ease-in-out infinite;
}

@keyframes gradient {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}