.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.about-left {
    margin: 30rem 2rem 1rem;
    display: flex;
    flex-direction: column;
}
.about-right {
    display: flex;
} 
.about-left img {
    margin-bottom: 2rem;
    float: right;
    width: 10rem;
    height: auto;
}
.about-right img {
    width: 15rem;
    height: auto;
}
.about-left h1, .about-left h2, .about-left h3 {
    font-family: var(--font-serf), serif;
    color: var(--hue-sole);
}
.about-left h1 {
    font-size: var(--h1-size);
    margin: 1rem 0;
}
.about-left h2 {
    font-size: var(--h2-size);
    margin: 1rem 0;
}
.about-left h3 {
    font-size: var(--h3-size);
    margin: 1.3rem 0;
}

.volunteer {
    display: flex;
    flex-direction: column;
}
@media (width > 660px) {
    .main {
        flex-direction: row;
    }
    .about-left {
        margin: auto 5rem;
    }
    .about-right img {
        width: 35rem;
        height: auto;
}
}