

.show {
  display: flex;
  justify-content: center;
  height: 10rem;
  width: 100%;
  transform: perspective(60px);
  transform-style: preserve-3d;
}

.card {
  margin: 0 auto;
  position: absolute;
  width: 12rem;
  height: 10rem;
  overflow: auto;
  border-radius: 2rem 0;
  background: hsla(179, 50%, 20%, .5);
  box-shadow: 4px 8px 12px 0px hsla(0, 50%, 0%, 0.2);
  color: var(--blue);
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}
.card img {
  width: 33%;
}

.card-1 {
  -webkit-animation: slide-une 10s ease-in-out infinite both;
          animation: slide-une 10s ease-in-out infinite both;
}

.card-2 {
  -webkit-animation: slide-deu 10s ease-in-out infinite both;
          animation: slide-deu 10s ease-in-out infinite both;
}

.card-3 {
  -webkit-animation: slide-tro 10s ease-in-out infinite both;
          animation: slide-tro 10s ease-in-out infinite both;
}

/* Keyframes */
@keyframes slide-une {
  0%, 100% {
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(-145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
}
@-webkit-keyframes slide-une {
  0%, 100% {
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(-145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
}

@keyframes slide-deu {
  0%, 100% {
    transform: translate3d(145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(-145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
}
@-webkit-keyframes slide-deu {
  0%, 100% {
    transform: translate3d(145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(-145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
}

@keyframes slide-tro {
  0%, 100% {
    transform: translate3d(-145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
}
@-webkit-keyframes slide-tro {
  0%, 100% {
    transform: translate3d(-145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
  33.33% {
    transform: translate3d(0, 0, 0);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  }
  66.66% {
    transform: translate3d(145px, 0, -45px);
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
  }
}