.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  margin-top: 1em;
  font-size: 3em;;
}

.introduction {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--font-serf), serif;
}
.introduction section {
  margin: 2rem 0;
}
.introduction h1 {
  margin-bottom: 10em;
}

.left{
  flex: 1.5;
}
.right{
  flex: .5;
}
.right img {
  width: 3rem;
}
p.pitch {
  padding-left: 2em;
  text-align: right;
}
.name {
  border-left: var(--hue-jaun) solid .5rem;
  padding-left: 1rem;
  /* margin-left: -1.5rem; */
}

.pitch span:nth-child(4),
.pitch span:nth-child(5),
.pitch span:nth-child(6)
{
  font-family: var(--font-mono), serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: .9;
}
.pitch span:nth-child(1) { /* I */
  font-family: var(--font-serf), serif;
  font-size: 1.5rem;
  color: var(--hue-plum);
  text-transform: uppercase;

}
.pitch span:nth-child(2) { /* individuals */
  font-size: medium;
  color: var(--hue-teal);
}

.pitch span:nth-child(3) { /* businesses */
  font-size: medium;
  color: var(--hue-jcce);

}
.pitch span:nth-child(4) { /* designing */
  color: var(--hue-vert);
  opacity: .6;
}
.pitch span:nth-child(5) { /* developing */
  color: var(--hue-jaun);
}
.pitch span:nth-child(6) { /* deploying */
  color: var(--hue-plum);
  opacity: .8;
}
.pitch span:nth-child(7) { /* websites */
  font-family: var(--font-serf), serif;
  font-size: medium;
  text-transform: none;
  font-weight: 800;
  color: var(--hue-bleu);
  opacity: 1;
}
.cta {
  margin: 3.5em;
}
.cta p {
  text-align: center;
}

@media (min-width: 660px) {
  header.introduction {
    margin-top: 2em;
  }
  p.pitch {
    width: 70%;
  }
}