footer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: flex-end;
    font-size: smaller;
}
@media (width > 660px) {
    footer {
        flex-direction: row;
    }
}