ul.services {
  margin: .5rem;
  display: flex;
  text-transform: uppercase;
  font-size: small;
  user-select: none;
}

.services li a:link {
  font-size: small;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transition: all .2s ease-in-out;
}

.services li a:visited {
  text-decoration: none;
  color: var(--hue-bleu);
}

.services li a:hover {
  text-decoration: none;
  border-top: .25rem solid orange;
  color: teal;
  scale: .8;
}

.services li a:active {
  text-decoration: none;
}