.header {
  background-color: hsla(179, 80%, 90%, .05);
  backdrop-filter: blur(1rem);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 1em;
}
.img {
    width: 2rem;
    height: auto;
}
.menu {
  display: flex;
}
.menu ul li {
    margin: 0.5rem;
    list-style: none;
}
/*
[aria-current='page'] {
  background-color: var(--hue-bleu);
  color: var(--blue);
  background: linear-gradient(90deg, 
  hsl(160, 95%, 34%), 
  hsl(190, 95%, 34%),
  hsl(200, 95%, 34%),
  hsl(190, 95%, 34%),
  hsl(160, 95%, 34%)
  ) 0% 0% / 200% 100% padding-box text;
  opacity: 1;
  -webkit-text-fill-color: transparent;
  animation: 5s infinite rainbow;
}
*/

