header {
  margin-bottom: 2rem;
  width: 100%;
  max-width: 1200px;
  background-color: hsla(179, 80%, 90%, .05);
  backdrop-filter: blur(1rem);
}
nav {
    display: flex;
    margin: .5rem 1rem;
    justify-content: space-between;
}
img {
    margin: 0 0.5rem;
    width: 2rem;
    height: auto;
}
ul {
    display: flex;
}
ul li {
    margin: 0.5rem;
    list-style: none;
}

a:link {
  font-size: small;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--blue)
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}