:root {
  --min-width: 360px;
/* Hue  */
  --hue-noir: hsla(179, 100%, 10%, 1);
  --hue-blan: hsla(168, 100%, 95%, 1);
  --hue-bleu: hsla(202, 61%, 86%, 1);
  --hue-teal: hsla(168, 41%, 57%, 1);
  --hue-jcce: hsla(179, 97%, 67%, 1);
  --hue-sole: hsla(185, 97%, 37%, 1);
  --hue-vert: hsla(73, 53%, 48%, 1);
  --hue-jaun: hsla(50, 96%, 48%, 1);
  --hue-plum: hsla(11, 89%, 53%, 1);

/* Fonts */
  --font-serf: 'Abril Fatface';
  --font-sans: 'Inter';
  --font-mono: 'Courier New';
}

/* Vendor Default Resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* General Styling */
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  color: var(--hue-blan);
  font-size: 18px;
}
header, main, footer {
  max-width: 1200px;
  width: 100%;
}
main {
  z-index: 10;
  height: 100%;
  min-width: var(--min-width);
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
a:link {
  font-size: small;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--hue-bleu)
}
a:visited {
  text-decoration: none;
  color: var(--hue-vert);
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

/* Gradients */
.gradient {
  user-select: none;
  background: linear-gradient(90deg,
  var(--hue-sole),
  var(--hue-teal),
  var(--hue-jcce),
  var(--hue-sole),
  var(--hue-jcce)
  );
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: gradient 5s infinite;
  text-align: center;
}
.gradient-blanc {
  background: linear-gradient(45deg,
  var(--hue-blan),
  var(--hue-teal),
  var(--hue-blan)
  );
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: gradient 5s infinite;
}
.gradient-bleu {
  background: linear-gradient(90deg, 
  hsl(170, 95%, 84%), 
  hsl(180, 95%, 34%),
  hsl(170, 95%, 94%)
  );
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: gradient 10s infinite;
}

::-webkit-scrollbar {
    display: none;
}

/* Media Breakpoint*/
@media (width > 360px) {
  .heading {
    font-size: 5rem;
  }
}

/* Animations */
.spin {
    box-sizing: border-box;
    border-color: var(--hue-jaun);
    border-right-color: var(--hue-plum);
    animation: spin 5.65s linear infinite;
}

/* Animation Keyframes*/

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rainbow {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: 200% center;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

